

sl-icon{
  font-size: 1rem;
}

/* Nav bar*/
nav {
  width: 100%;
  color: white;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}
.top-margin
{
  width: 100%;
  height: 7rem;
}

.site-name {
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 3;
}
.center{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;

}
.filler{
  flex-grow: 3;
}

